In [2]:
#Import Dependencies
import pandas as pd

In [3]:
#Defining Climate Change to Correlate Declining Bee Population and by Honey Production

file = "honeyproduction.csv"
file2 = "occurrence_1.csv"

# Read the honey production and bee occurrence data
#file = pd.read_csv(file_path)
#file2 = pd.read_csv(file2_path)

honey_df = pd.read_csv(file)
honey_df.head()

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998

In [4]:
len(honey_df["state"])

626

In [29]:
occurrence_1_df = pd.read_csv(file2)
occurrence_1_df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 1: invalid continuation byte

In [36]:
 # Set new index to state
df = honey_df.set_index("state")
df.head()

,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
state,,,,,,,
AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998

In [39]:
# # Grab the data contained within the "CA" row and the "Year" column
state = df.loc["CA", "year"]
print("Using Loc: " + state")

SyntaxError: EOL while scanning string literal (<ipython-input-39-7aedc5238652>, line 3)

In [13]:
# List all the columns in the Honey Production table
honey_df.columns

Index(['state', 'numcol', 'yieldpercol', 'totalprod', 'stocks', 'priceperlb',
       'prodvalue', 'year'],
      dtype='object')

In [30]:
#List all columns in the Bee Population table
occurrence_1_df.columns

NameError: name 'occurrence_1_df' is not defined

In [ ]:
#Data Cleaning Confirm Bee Population by Time Period and Location

In [ ]:
#Data Cleaning Confirm Honey Production by Time Period and Location

In [ ]:
#Merge Datasets to Show both Bee Population and Honey Production
# Combine the data into a single dataset
#file= pd.merge(file, file2, how="left", on=["State"])
#file_db

# Display the data table for preview
#file_db.head(20)

In [ ]:
#Confirm Clean Data set for use give to team

In [ ]:
# Finally, export this file to excel csv 
honey_df.to_excel("output/honeyproduction.csv", index=False)